.App {
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
}
.wrapper {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  height: 500px;
}
.wrapper img {
  height: 200px;
}
